:root{
	/* COLORS: */
	--light-green: #7ed56f;
	--medium-green: #55c57a;
	--dark-green: #28b485;
	--trans-light-green: #7ed56fd0;
	--trans-medium-green: #55c57ad0;
	--trans-dark-green: #28b485d0;
	--text-default: #777777;
}

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body{
	font-family: "Lato";
	font-weight: 400;
	font-size: 16px;
	line-height: 1.7;
	color: var(--text-default);
}

.header{
	height:95vh;
	background-image: linear-gradient(to right bottom, var(--trans-light-green), var(--trans-dark-green)), url(../img/hero.jpg);
	background-size: cover;
	background-position: top;
	position: relative;
	clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
}

.logo-box{
	position: absolute;
	top: 40px;
	left: 40px;
}

.logo{
	height: 35px;
}

.text-box{
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.heading-primary{
	color: #ffffff;
	text-transform: uppercase;
}

.heading-primary-main{
	display: block;
	font-size: 60px;
	font-weight: 600;
	letter-spacing: 35px;
}

.heading-primary-sub{
	display: block;
	font-size: 20px;
	font-weight: 900;
	letter-spacing: 17.4px;
}