:root{
	/* COLORS: */
	--light-green: #7ed56f;
	--medium-green: #55c57a;
	--dark-green: #28b485;
	--trans-light-green: #7ed56fd0;
	--trans-medium-green: #55c57ad0;
	--trans-dark-green: #28b485d0;
	--text-default: #777777;
}

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body{
	font-family: "Lato";
	font-weight: 400;
	font-size: 16px;
	line-height: 1.7;
	color: var(--text-default);
}

.header{
	height:95vh;
	background-image: linear-gradient(to right bottom, var(--trans-light-green), var(--trans-dark-green)), url(../img/hero.jpg);
	background-size: cover;
	background-position: top;
	position: relative;
	clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
}

.logo-box{
	position: absolute;
	top: 40px;
	left: 40px;
}

.logo{
	height: 35px;
}

.text-box{
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.heading-primary{
	color: #ffffff;
	text-transform: uppercase;
	margin-bottom: 60px;

	backface-visibility: hidden;
}

.heading-primary-main{
	display: block;
	font-size: 60px;
	font-weight: 600;
	letter-spacing: 35px;

	animation: moveinLeft 1s ease-out;
}

.heading-primary-sub{
	display: block;
	font-size: 20px;
	font-weight: 900;
	letter-spacing: 17.4px;

	animation: moveinRight 1s ease-out;
}

.btn:link,
.btn:visited{
	text-transform: uppercase;
	text-decoration: none;
	padding: 15px 40px;
	display: inline-block;
	border-radius: 100px;
	transition: all .2s;
}

.btn:hover{
	transform: translateY(-3px);
	box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.btn:active{
	transform: translateY(-1px);
	box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.btn-white{
	background: #ffffff;
	color: var(--text-default)
}

@keyframes moveinLeft{
	0%{
		opacity: 0;
		transform: translateX(-100px);
	}

	80%{
		opacity: 0.8;
		transform: translateX(10px)
	}

	100%{
		opacity: 1;
		transform: translateX(0)
	}
}

@keyframes moveinRight{
	0%{
		opacity: 0;
		transform: translateX(+100px);
	}

	80%{
		opacity: 0.8;
		transform: translateX(-10px)
	}

	100%{
		opacity: 1;
		transform: translateX(0)
	}
}