/*	COLORS	*/
$color-l-green: #7ed56f;
$color-m-green: #55c57a;
$color-d-green: #28b485;
$color-t-l-green: #7ed56fd0;
$color-t-m-green: #55c57ad0;
$color-t-d-green: #28b485d0;
$color-d-text: #777777;
$color-l-text: #ffffff;
$color-black: #000000;
$color-l-white: #ededed;

/*	GRID	*/
$grid-width: 114rem;
$gutter-ver: 8rem;
$gutter-hor: 6rem;