$color-l-green: #7ed56f;
$color-m-green: #55c57a;
$color-d-green: #28b485;
$color-t-l-green: #7ed56fd0;
$color-t-m-green: #55c57ad0;
$color-t-d-green: #28b485d0;
$color-d-text: #777777;
$color-l-text: #ffffff;

*,
*::after,
*::before{
	margin:0;
	padding:0;
	box-sizing: inherit;
}

html{
	font-size: 62.5%;
}

body{
	font-family: "Lato";
	font-weight: 400;
	font-size: 16px;
	line-height: 1.7;
	color: $color-d-text;
	box-sizing: border-box;
}

.header{
	height:95vh;
	background-image: linear-gradient(to right bottom, $color-t-l-green, $color-t-d-green), url(../img/hero.jpg);
	background-size: cover;
	background-position: top;
	position: relative;
	clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
}

.header__logo-box{
	position: absolute;
	top: 4rem;
	left: 4rem;
}

.header__logo{
	height: 3.5rem;
}

.text-box{
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.heading-primary{
	color: $color-l-text;
	text-transform: uppercase;
	margin-bottom: 6rem;

	backface-visibility: hidden;
}

.heading-primary--main{
	display: block;
	font-size: 6rem;
	font-weight: 600;
	letter-spacing: 3.5rem;

	animation: moveinLeft 1s ease-out;
}

.heading-primary--sub{
	display: block;
	font-size: 2rem;
	font-weight: 900;
	letter-spacing: 1.74rem;

	animation: moveinRight 1s ease-out;
}

.btn:link,
.btn:visited{
	text-transform: uppercase;
	text-decoration: none;
	padding: 1.5rem 4rem;
	display: inline-block;
	border-radius: 10rem;
	transition: all .2s;
	position: relative;
	font-size: 1.6rem;
}

.btn:hover{
	transform: translateY(-0.3rem);
	box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
}

.btn:active{
	transform: translateY(-0.1rem);
	box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2);
}

.btn--white{
	background: $color-l-text;
	color: $color-d-text;
}

.btn--animated{
	animation: moveinUp 1s ease-out 0.75s;
	animation-fill-mode: backwards;
}

.btn::after{
	content: "";
	display: inline-block;
	height: 100%;
	width: 100%;
	border-radius: 10rem;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	transition: all 0.4s;
}

.btn--white::after{
	background-color: $color-l-text;
}

.btn:hover::after{
	transform: scaleX(1.4) scaleY(1.6);
	opacity: 0;
}

@keyframes moveinLeft{
	0%{
		opacity: 0;
		transform: translateX(-10rem);
	}

	80%{
		opacity: 0.8;
		transform: translateX(1rem)
	}

	100%{
		opacity: 1;
		transform: translateX(0)
	}
}

@keyframes moveinRight{
	0%{
		opacity: 0;
		transform: translateX(+10rem);
	}

	80%{
		opacity: 0.8;
		transform: translateX(-1rem)
	}

	100%{
		opacity: 1;
		transform: translateX(0)
	}
}

@keyframes moveinUp{
	0%{
		opacity: 0;
		transform: translateY(3rem);
	}

	80%{
		opacity: 0.8;
		transform: translateY(-1rem)
	}

	100%{
		opacity: 1;
		transform: translateY(0)
	}
}