.btn{
	&,
	&:link,
	&:visited{
		text-transform: uppercase;
		text-decoration: none;
		padding: 1.5rem 4rem;
		display: inline-block;
		border-radius: 10rem;
		transition: all .2s;
		position: relative;
		font-size: $text-default-size;

		//for the button element
		border: none;
		cursor: pointer;
	}

	&:hover{
		transform: translateY(-0.3rem);
		box-shadow: 0 1rem 2rem rgba($color-black,0.2);

		&::after{
			transform: scaleX(1.4) scaleY(1.6);
			opacity: 0;
		}
	}

	&:active,
	&:focus{
		outline: none;
		transform: translateY(-0.1rem);
		box-shadow: 0 0.5rem 1rem rgba($color-black,0.2);
	}

	&--white{
		background: $color-l-text;
		color: $color-d-text;

		&::after{
			background-color: $color-l-text;
		}
	}

	&--green{
		background: $color-d-green;
		color: $color-l-white;

		&::after{
			background-color: $color-d-green;
		}
	}

	&--animated{
		animation: moveinUp 1s ease-out 0.75s;
		animation-fill-mode: backwards;
	}

	&::after{
		content: "";
		display: inline-block;
		height: 100%;
		width: 100%;
		border-radius: 10rem;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		transition: all 0.4s;
	}
}

.btn-text{
	&:link,
	&:visited{
		color: $color-m-green;
		text-decoration: none;
		display: inline-block;
		font-size: $text-default-size;
		border-bottom: 1px solid $color-m-green;
		padding: 6px 10px;
		transition: all 0.5s;
	}
	&:hover{
		background-color: $color-m-green;
		color: $color-l1-white;
		border-radius: 10rem;
		box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
		transform: translateY(-2px);
	}
	&:active{
		box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
		transform: translateY(0);
	}
}