.feature-box{
	background-color: rgba($color-l-white, 0.8);
	font-size: 1.5rem;
	padding: 2.5rem;
	text-align: center;
	border-radius: 0.3rem;
	box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
	transition: all 0.4s;

	&__icon{
		font-size: 6rem;
		margin-bottom: 0.5rem;
		display: inline-block;
		background-image: linear-gradient(to right, $color-l-green, $color-d-green);
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent
	}
	
	&:hover{
		transform: translateY(-3rem) scale(1.1);
		box-shadow: 0 3rem 8rem rgba($color-black, 0.15);
	}
}