body{
	font-family: "Lato";
	font-weight: 400;
	font-size: 16px;
	line-height: 1.7;
	color: $color-d-text;
	box-sizing: border-box;
}

.heading-primary{
	color: $color-l-text;
	text-transform: uppercase;
	margin-bottom: 6rem;

	backface-visibility: hidden;

	&--main{
		display: block;
		font-size: 6rem;
		font-weight: 600;
		letter-spacing: 3.5rem;

		animation: moveinLeft 1s ease-out;
	}

	&--sub{
		display: block;
		font-size: 2rem;
		font-weight: 900;
		letter-spacing: 1.74rem;

		animation: moveinRight 1s ease-out;
	}
}

.heading-secondary{
	font-size: 3.5rem;
	text-transform: uppercase;
	font-weight: 700;
	display: inline-block;
	background-image: linear-gradient(to right, $color-l-green, $color-d-green);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	transition: all 0.2s;
	letter-spacing: 0.2rem;

	&:hover{
		transform: skewX(15deg) skewY(2deg) scale(1.1);
		text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
	}
}

.heading-tertiary{
	font-size: $text-default-size;
	text-transform: uppercase;
	font-weight: 700;
}

.paragraph{
	font-size: $text-default-size;
	
	&:not(:last-child){
		margin-bottom: 3rem;
	}
}