.u-text-center{text-align: center;}

.u-margin-bottom-sma{margin-bottom: 1.5rem;}
.u-margin-bottom-med{margin-bottom: 2rem;}
.u-margin-bottom-big{margin-bottom: 8rem;}

.u-margin-top-sma{margin-top: 1.5rem;}
.u-margin-top-med{margin-top: 2rem;}
.u-margin-top-big{margin-top: 8rem;}