.section-about{
	padding: 25rem 0;
	margin-top: -15vh;
	background-color: $color-l1-white;
}

.section-features{
	padding: 20rem 0;
	background-image: linear-gradient(to right bottom, rgba($color-l-green, 0.8), rgba($color-d-green, 0.8)), url(../../img/nat-4.jpg);
	background-size: cover;
	transform: skewY(-6deg);
	margin-top: -12rem;

	&>*{
		transform: skewY(7deg);
	}
}